{
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@ui": "./src/ui",
                "@assets": "./src/assets",
                "@api": "./src/api",
                "@img": "./src/img"
            }
        }]
    ]
}